<!-- Header start -->
<header style="padding-top: 40px;">
  <div class="haeder-nav navbar-fixed-top">
    <div class="container-fluid custom-container p-a-0">
      <nav class="navbar navbar-light bg-faded p-l-0 p-r-0">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
          &#9776;
        </button>
        <a class="navbar-brand" href="#" style="width: 280px;"><img style="max-width: 92%;" src="assets/blog-logo-wh1.png" alt="Precious InfoSystem Blog" /></a>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Technology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Life Style</a>
            </li>
            <li class="nav-item">
              <div class="form-group has-success">
                <button type="submit"><i class="fa fa-search"></i></button>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nature</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Fashion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Travel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Health</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Living</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Foods</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header><!-- Header End -->
