<!-- Middle section start -->
<aside class="blog-main">
  <!-- Top  Blog section start -->
  <section class="top-blogs-main">
    <div class="container custom-container">
      <div class="row">

        <div class="recent-post-title">
          <h2>
            <span>
              <span class="text-title">Top Blogs</span>
            </span>
          </h2>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-4 col-sm-4 col-xs-4 p-a-0 top-blogs">            
          <a href="#">
            <span class="article_tag">
              <span class="Lifestyle">Lifestyle</span>
            </span>
            <h3>50 Unusual Facts About Lifestyle</h3>
            <img class="img-responsive" src="assets/top-img1.jpg" />
          </a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 p-a-0 top-blogs">            
          <a href="#"> 
            <span class="article_tag">
              <span class="Lifestyle">Travel</span>
            </span>
            <h3>How to take great photos of friends and family this festive season</h3>
            <img class="img-responsive" src="assets/top-img2.jpg" />
          </a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 p-a-0 top-blogs">  
          <a href="#">          
            <span class="article_tag">
              <span class="Lifestyle">Music</span>
            </span>
            <h3>Tey Are Amazing!</h3>
            <img class="img-responsive" src="assets/aruba1.png" />
          </a>
        </div>
      </div>
    </div>
  </section><!-- Top  Blog section End -->

  
  <!-- Main Blog section start -->
  <section>
    <div class="container custom-container">
      <div class="row pis-blog" style="margin: 20px 0">
        

        <!-- Popular Blogs section start -->

        <div class="col-md-3 col-sm-3 col-xs-12 popular-blog p-l-0">

          <div class="row">
            <div class="recent-post-title" style="margin: 10px 0 0;">
              <h2>
                <span>
                  <span class="text-title">Popular Blogs</span>
                </span>
              </h2>
            </div>
          </div>

          <section>
            <div class="img">
              <a href="#"><img src="assets/woman-hat.jpg" /></a>
              <a class="share" href="javascript:void(0)">
                <div class="share-article-loop post-link"></div>
              </a>
            </div>
            <ul class="share-social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
            <h3><a href="#">JENNIE GARTH IS ENGAGED TO DAVE ABRAMS!</a></h3>
            <p>SUPPORT - TUESDAY, FEBRUARY 25, 2014</p>
          </section>

          <section>
            <div class="img">
              <a href="#"><img src="assets/woman-fashion.jpg" /></a>
              <a class="share" href="javascript:void(0)">
                <div class="share-article-loop post-link"></div>
              </a>
            </div>
            <ul class="share-social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
            <h3><a href="#">CELEBRITY-INSPIRED BEAUTY TIPS FOR A FRESH-FACED SPRING</a></h3>
            <p>SUPPORT - TUESDAY, FEBRUARY 25, 2014</p>
          </section>

          <section>
            <div class="img">
              <a href="#"><img src="assets/top-img2.jpg" /></a>
              <a class="share" href="javascript:void(0)">
                <div class="share-article-loop post-link"></div>
              </a>
            </div>
            <ul class="share-social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
            <h3><a href="#">50 Unusual Facts About Precious Infosystems</a></h3>
            <p>SUPPORT - TUESDAY, FEBRUARY 25, 2014</p>
          </section>

          <section>
            <div class="img">
              <a href="#"><img src="assets/smiling-girl.jpg"></a>
              <a class="share" href="javascript:void(0)">
                <div class="share-article-loop post-link"></div>
              </a>
            </div>
            <ul class="share-social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
            <h3><a href="#">AENEAN MOLLIS METUS SIT AMET LIGULA ADIPISCING</a></h3>
            <p>SUPPORT - TUESDAY, FEBRUARY 25, 2014</p>
          </section>

          <section>
            <div class="img">
              <a href="#"><img src="assets/Fashion-Styles-for-Girls.jpg"></a>
              <a class="share" href="javascript:void(0)">
                <div class="share-article-loop post-link"></div>
              </a>
            </div>
            <ul class="share-social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
            <h3><a href="#">What No One Tells You About Summer Fashion</a></h3>
            <p>SUPPORT - TUESDAY, FEBRUARY 25, 2014</p>
          </section>

          <section>
            <div class="img">
              <a href="#"><img src="assets/dzqtMD2.jpg"></a>
              <a class="share" href="javascript:void(0)">
                <div class="share-article-loop post-link"></div>
              </a>
            </div>
            <ul class="share-social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
            <h3><a href="#">Mea Labores Feugait Temporibus Simul Laudem</a></h3>
            <p>SUPPORT - TUESDAY, FEBRUARY 25, 2014</p>
          </section>


        </div><!-- Populer section end -->


        <!-- Main Blog section start -->

        <div class="col-md-6 col-sm-6 col-xs-12 main-blog" style="padding-top:2px;">

          <div class="row">
            <div class="recent-post-title" style="margin: 10px 0 0;">
              <h2>
                <span>
                  <span class="text-title">Latest Blogs</span>
                </span>
              </h2>
            </div>
          </div>

          <section>
            <div class="img">
              <a href="#"><img src="assets/couple-blonde.jpg" /></a>
            </div>
            <p class="category">
              <span class="article_tag">
                <span class="Lifestyle">Trend</span>
              </span>
            </p>
            <h3><a href="#">FROZEN’ STAR IDINA MENZEL HAS GONE BLONDE LIKE ELSA!</a></h3>
            <p>SUPPORT - TUESDAY, FEBRUARY 25, 2014</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <aside class="share-article-loop post-link" title="Share">
              <a class="boxed-icon social fill facebook" href="#" target="_blank" title="Share with facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a class="boxed-icon social fill twitter" href="#" target="_blank" title="Share with twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="boxed-icon social fill google-plus" href="#" target="_blank" title="Share with Google plus">
                <i class="fa fa-google-plus"></i>
              </a>
              <a class="boxed-icon social fill pinterest" href="#" target="_blank" title="Share with pinterest">
                <i class="fa fa-pinterest"></i>
              </a>
            </aside>
          </section>

          <section>
            <div class="img">
              <a href="#"><img src="assets/womanhat.jpg" /></a>
            </div>
            <p class="category">
              <span class="article_tag">
                <span class="Lifestyle">Fashion</span>
              </span>
            </p>
            <h3><a href="#">JULIA ROBERTS IS THE NEW FACE OF GIVENCHY</a></h3>
            <p>SUPPORT - TUESDAY, FEBRUARY 25, 2014</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <aside class="share-article-loop post-link" title="Share">
              <a class="boxed-icon social fill facebook" href="#" target="_blank" title="Share with facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a class="boxed-icon social fill twitter" href="#" target="_blank" title="Share with twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="boxed-icon social fill google-plus" href="#" target="_blank" title="Share with Google plus">
                <i class="fa fa-google-plus"></i>
              </a>
              <a class="boxed-icon social fill pinterest" href="#" target="_blank" title="Share with pinterest">
                <i class="fa fa-pinterest"></i>
              </a>
            </aside>
          </section>


          <section>
            <div class="img">
              <a href="#"><img src="assets/carolinaengman-versa.jpg" /></a>
            </div>
            <p class="category">
              <span class="article_tag">
                <span class="Lifestyle">Fashion</span>
              </span>
            </p>
            <h3><a href="#">Nusquam Omittam Sadipscing Ad Eum</a></h3>
            <p>SUPPORT - TUESDAY, FEBRUARY 25, 2014</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <aside class="share-article-loop post-link" title="Share">
              <a class="boxed-icon social fill facebook" href="#" target="_blank" title="Share with facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a class="boxed-icon social fill twitter" href="#" target="_blank" title="Share with twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="boxed-icon social fill google-plus" href="#" target="_blank" title="Share with Google plus">
                <i class="fa fa-google-plus"></i>
              </a>
              <a class="boxed-icon social fill pinterest" href="#" target="_blank" title="Share with pinterest">
                <i class="fa fa-pinterest"></i>
              </a>
            </aside>
          </section>

        </div> <!-- Main Blog section end -->



        <!-- Featured Blogs section start -->

        <div class="col-md-3 col-sm-3 col-xs-12 featured-blog p-r-0">

          <div class="row">
            <div class="recent-post-title" style="margin: 10px 0 0;">
              <h2>
                <span>
                  <span class="text-title">Featured Blogs</span>
                </span>
              </h2>
            </div>
          </div>
          
          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/person-woman-relaxation.jpg" /></a>
              </div>
              <h3><a href="#">Things You Need To Know Before A Trip work</a></h3>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/orfIu0.jpg" /></a>
              </div>
              <h3><a href="#">LEARN TO DO PRINCESS HAIR STYLE</a></h3>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/Park-and-Cube.jpg" /></a>
              </div>
              <h3><a href="#">IT'S SEASON OF WHITE</a></h3>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/top-img2.jpg" /></a>
              </div>
              <h3><a href="#">50 Unusual Facts About Precious Infosystems</a></h3>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/street-style.jpg" /></a>
              </div>
              <h3><a href="#">Amazing Tips That Will Motivate You Today</a></h3>
            </div>
          </section>
          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/person-woman-relaxation.jpg" /></a>
              </div>
              <h3><a href="#">Things You Need To Know Before A Trip work</a></h3>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/orfIu0.jpg" /></a>
              </div>
              <h3><a href="#">LEARN TO DO PRINCESS HAIR STYLE</a></h3>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/Park-and-Cube.jpg" /></a>
              </div>
              <h3><a href="#">IT'S SEASON OF WHITE</a></h3>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/top-img2.jpg" /></a>
              </div>
              <h3><a href="#">50 Unusual Facts About Precious Infosystems</a></h3>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/street-style.jpg" /></a>
              </div>
              <h3><a href="#">Amazing Tips That Will Motivate You Today</a></h3>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/person-woman-relaxation.jpg" /></a>
              </div>
              <h3><a href="#">Things You Need To Know Before A Trip work</a></h3>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/orfIu0.jpg" /></a>
              </div>
              <h3><a href="#">LEARN TO DO PRINCESS HAIR STYLE</a></h3>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/Park-and-Cube.jpg" /></a>
              </div>
              <h3><a href="#">IT'S SEASON OF WHITE</a></h3>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/top-img2.jpg" /></a>
              </div>
              <h3><a href="#">50 Unusual Facts About Precious Infosystems</a></h3>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/street-style.jpg" /></a>
              </div>
              <h3><a href="#">Amazing Tips That Will Motivate You Today</a></h3>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/person-woman-relaxation.jpg" /></a>
              </div>
              <h3><a href="#">Things You Need To Know Before A Trip work</a></h3>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/orfIu0.jpg" /></a>
              </div>
              <h3><a href="#">LEARN TO DO PRINCESS HAIR STYLE</a></h3>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/Park-and-Cube.jpg" /></a>
              </div>
              <h3><a href="#">IT'S SEASON OF WHITE</a></h3>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/top-img2.jpg" /></a>
              </div>
              <h3><a href="#">50 Unusual Facts About Precious Infosystems</a></h3>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/street-style.jpg" /></a>
              </div>
              <h3><a href="#">Amazing Tips That Will Motivate You Today</a></h3>
            </div>
          </section>

          <section>
            <div class="row">
              <div class="img">
                <a href="#"><img src="assets/woman-blonde.jpg" /></a>
              </div>
              <h3><a href="#">ARIANA GRANDE’S EVOLVING STYLE</a></h3>
            </div>
          </section>

        </div>

      </div>
    </div>
  </section><!-- Main Blog section start -->
</aside>